<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Heart Disease Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict risk of developing heart disease</h1>
     <h3> Enter the following values to predict risk of developing heart disease</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
		<input type="text" name="age" placeholder="Age" required="required" />
		<label name="Sex_male"> Select Sex </label>  
		<select id="Sex_male" name ="Sex_male">  
			<option value = 1 > Male 
			</option>  
			<option value = 0 > Female
			</option>   
		</select>    
		<input type="text" name="cigsPerDay" placeholder="Cigerettes Per Day" required="required" />
    	<input type="text" name="totChol" placeholder="Total Cholesterol" required="required" />
        <input type="text" name="sysBP" placeholder="Systolic BP" required="required" />
		<input type="text" name="gluclose" placeholder="Gluclose Level" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>